@import "tailwindcss";
@plugin "tailwindcss-motion";

@layer base {
  :root {
    --background: rgb(251, 251, 251);
    --foreground: rgb(0, 0, 0);
    --primary: oklch(0.707 0.165 254.624);
    --secondary: oklch(0.627 0.265 303.9);
    --border: oklch(0.3 0 0);
    --card: hsl(240, 23%, 8%);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply outline-none rounded focus:outline-none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-card: var(--card);
  --text-xxs: 10px;
}

@keyframes breathing {
  0% {
    transform: scaleY(1) scaleX(1.03);
  }
  50% {
    transform: scaleY(1.05) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1.03);
  }
}

.breathing {
  transform-origin: 50% 80%;
  animation: breathing 1.5s ease-in-out infinite;
}
